<a href="https://colab.research.google.com/github/kromero14/Ejercicios-con-For/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
print("Bienvenidos a google colaboratory")

# Ejercicio No.1 mostrar la suma de los primeros 10 numeros naturales

# input

# processing
suma=0
serie= list(range(1,11))
for i in range(1,11):
  suma=suma + i

#output
print("La suma es: " + str(suma))
print(serie)

Bienvenidos a google colaboratory
La suma es: 55
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [19]:
# Ejercicio N.2 mostrar los numeros del 1 al 10,sin usar instruciones repetitivas

print(1)
print(2)
print(3)
print(4)
print(5)
print(6)
print(7)
print(8)
print(9)
print(10)

1
2
3
4
5
6
7
8
9
10

In [20]:
# Ejercicio No.3 utilizando la instruccion repetitiva while

i=1
while (i <=10):
  print(i)
  i= i+1

1
2
3
4
5
6
7
8
9
10

In [21]:
# Ejercicio No.4 mostrar los numeros del 1 al 10 usando la funcion for

for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
# Ejercicio No.5 mostrar los numeros del 1 al 10 usando la instruccion lista

mi_lista= [1,2,3,4,5,6,7,8,9,10]
for i in mi_lista:
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
# Ejercicio No.6 mostrar unna frase 10 veces usando la instruccion for y una lista

mi_lista= [1,2,3,4,5,6,7,8,9,10]
for i in mi_lista:
  print(f"{i} Guanenta 200 años!")

1 Guanenta 200 años!
2 Guanenta 200 años!
3 Guanenta 200 años!
4 Guanenta 200 años!
5 Guanenta 200 años!
6 Guanenta 200 años!
7 Guanenta 200 años!
8 Guanenta 200 años!
9 Guanenta 200 años!
10 Guanenta 200 años!

In [ ]:
# Ejercicio No.7 mostrar la silaba inicial de los dias de la semana,usando for y una lista

dias_semana=["lu", "ma", "mi", "ju", "vi", "sa", "do"]
for i in dias_semana:
  print(i)

lu
ma
mi
ju
vi
sa
do

In [ ]:
# Ejercicio No.8 mostrar una lista de distintos tipos de datos usando for

mi_listica =[1, 3.14, 9, True, "santiaguito", 8, "Guanenta"]
for i in mi_listica:
  print (i)

1
3.14
9
True
santiaguito
8
Guanenta

In [ ]:
# Ejercicio No.9 ingresar su nombre y mostrarlo letra por letra,usando for

nombre=input ("Digite su nombre: ")

for i in nombre:
  print(i)

Digite su nombre: Keiner Santiago
K
e
i
n
e
r

S
a
n
t
i
a
g
o

In [ ]:
# Ejercicio No.10 digitar su nombre mostrarlo letra a letra y la letra E cambiarla por un asterisco usando el comando for

nombre=input ("Digite su nombre: ")

for i in nombre:
  if i== "e" :
    print("*")
  else:
    print(i)

Digite su nombre: Keiner Santiago
K
*
i
n
*
r

S
a
n
t
i
a
g
o

In [22]:
# Ejercicio No.11 digitar su nombre mostrarlo letra a letra en mayuscula usando el comando for

nombre=input ("Digite su nombre: ")

for i in nombre:
    print(i.upper())

Digite su nombre: keiner santiago
K
E
I
N
E
R

S
A
N
T
I
A
G
O

In [30]:
# Ejercicio No.12 Dada la siguiente lista de números [20,21,30,41,50,51,20], mostrar en pantalla solo los que no terminan en uno (1).

# input

numeros = [20, 21, 30, 41, 50, 51, 20]
#Processing
for i in numeros:
    if i % 10 != 1:
        print(i)

20
30
50
20

In [ ]:
# Ejercicio No.13 Mostrar mil veces la palabra "Programación"


mi_lista= range (1,1001)
for i in mi_lista:
  print(f"{i} Programación")

In [15]:
# Ejercicio N.14 Del conjunto de cadenas ["E", "F", "M", "A"] que corresponde a las iniciales de los 4 primeros meses del año, mostrar el nombre completo de dichos meses.

mi_lista=["E", "F", "M", "A"]
for i in mi_lista:
  if i== "E" :
    print("Enero")
  elif i == "F":
      print("Febrero")
      i == "M"
      print("Marzo")
      i == "A"
      print("Abril")

Enero
Febrero
Marzo
Abril

In [ ]:
# Ejercicio No.15 Leer un texto y determinar cuántas veces dicho texto contiene cada una de las vocales en minúscula y mayuscula

texto= input("digite el texto: ")
minuscula=("a", "e", "i", "o", "u")
mayuscula=("A", "E", "I", "O", "U")

a=0
e=0
b=0
o=0
u=0
A=0
E=0
I=0
O=0
U=0

for i in texto:
  if i == "a":
    a+=1
  elif i == "e":
    e+=1
  elif i == "i":
    b+=1
  elif i == "o":
    o+=1
  elif i == "u":
    u+=1
  elif i == "A":
    A+=1
  elif i == "E":
    E+=1
  elif i == "I":
    I+=1
  elif i == "O":
    O+=1
  elif i == "U":
    U+=1

print("Hay",a,"a"," en el texto")
print("Hay",e,"e","en el texto")
print("Hay",b,"i","en el texto")
print("Hay",o,"o","en el texto")
print("Hay",u,"u","en el texto")
print("Hay",A,"A","en el texto")
print("Hay",E,"E","en el texto")
print("Hay",I,"I","en el texto")
print("Hay",O,"O","en el texto")
print("Hay",U,"U","en el texto")

# INVESTIGACION
## Consulte cómo se representa en un diagrama de flujo la instrucción repetitiva for.  Agregue lo consultado en el archivo README del respositorio, o en una celta de texto del cuaderno de Google Colab.

# Input

El bucle for en un diagrama de flujo se representa con símbolos que indican el inicio y el final del bucle, así como las etapas de inicialización, evaluación de condición, ejecución del cuerpo del bucle y actualización de la variable de control en cada iteración.

In [43]:
# Ejercicio No.16 Leer 20 números enteros y averiguar cuántos son pares y cuántos son impares.
Pares=0
Impares=0

for i in range (20):
  numero = int(input("Digite el numero entero: "))
  if numero %2 == 0:
    Pares +=1
  else:
    Impares +=1

print("Cantidad de Pares:",Pares)
print("Cantidad de Impares:",Impares)

Diegite el numero entero: 2
Diegite el numero entero: 3
Diegite el numero entero: 4
Diegite el numero entero: 6
Diegite el numero entero: 1
Diegite el numero entero: 8
Diegite el numero entero: 6
Diegite el numero entero: 45
Diegite el numero entero: 23
Diegite el numero entero: 112
Diegite el numero entero: 22
Diegite el numero entero: 33
Diegite el numero entero: 566
Diegite el numero entero: 78
Diegite el numero entero: 9
Diegite el numero entero: 75
Diegite el numero entero: 34
Diegite el numero entero: 23
Diegite el numero entero: 77
Diegite el numero entero: 98
Cantidad de Pares: 11
Cantidad de Impares: 9

In [44]:
# Ejercicio No.17 Programa que averigüe e imprima cuántos múltiplos de 7, y cuántos múltiplos de 9, hay en los números comprendidos entre 1000 y 5000.

multiplo_7 = 0
multiplo_9 = 0

for i in range(1000,5001):
   if i % 7 == 0:
      multiplo_7 += 1
   if i % 9 == 0:
      multiplo_9 += 1

print(multiplo_7,"numeros son multiplos de 7")
print(multiplo_9,"numeros son multiplos de 9")

572 son multiplos de 7
444 son multiplos de 9